.login-wrapper {
    height: 100vh;
    background: url('../../assets//login-bg.png') no-repeat center center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .login-header {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  .main-title {
    color: white !important;
    font-size: 48px;
    margin-bottom: 0;
  }
  
  .sub-title {
    color: white;
    font-size: 20px;
    margin-top: 0;
  }
  
  .login-center-card {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-card {
    max-width: 400px;
    width: 100%;
  }
  
  .login-title {
    text-align: center;
    margin-bottom: 24px;
  }
  
  .login-input {
    margin-bottom: 10px;
  }
  
  .login-button {
    margin-top: 10px;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .login-footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  